* {
    font-family: 'Libre Franklin', sans-serif;
}

section {
  height: 500px;
  background-color: ;
  /* border: solid black 1px; */
  outline: 2px solid red;
  color: white;
  font-size: 40px;
}

footer {
  height: 500px;
  background-color: black;
  
}

.hero {
  height: 100vh;
  background-color: #1c1d25;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
/* width: 200px; */
text-decoration: none;
}

h1{
    font-size: 90px;
}

.hero-text {
    margin-left: 40px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
}
