* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: white;
}

footer {
  /* height: 420px; */
  padding: 80px;
  background-color: black;
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  background-color: #1c1d25;
  color: white;
  font-size: 40px;
  padding-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  margin: 0;
}
h2 {
  font-size: 70px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

input,
textarea {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  min-width: 200px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

legend {
  /* display: inline-block; */
  color: coral;
  font-size: large;
  padding: 15px;
  /* border-radius: 20px;
  padding: 10px 20px;
  margin: 20xp; */
}

.subtext {
  font-size: 15px;
  font-weight: 300px;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  margin-left: 40px;
  margin-bottom: 200px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: none;
  color: white;
  text-align: center;
  background-color: coral;
}
.btn-lg {
  min-width: 200px;
  min-height: 55px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.but-lg:hover {
  background-color: #ef744b;
}

.btn-lg:active {
  background-color: #a9a9a9;
  color: #808080;
}

.btn-sm {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 300;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 10px;
}

.but-sm:hover {
  background-color: #ef744b;
}

.btn-sm:active {
  background-color: #a9a9a9;
  color: #808080;
}

.btn-center {
  margin: auto;
}

.socials {
  padding-bottom: 200px;
}
.social {
  margin: 20px;
}

.logo {
  height: 80px;
  margin: 30px;
}
i {
  color: coral;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.project-card {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  box-shadow: 5px 5px 20px grey;
  margin: 10px;
}

.project-image {
  border: 1px solid grey;
  width: 250px;
  border-radius: 125px;
  margin-top: 25px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0;
  }

  nav {
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  ul.show {
    display: block;
  }

  .logo {
    display: none;
  }
}

#contact-form {
  display: none;
}

.form-container {
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  width: 800px;
  height: 300px;
  background-color: rgb(48, 48, 48);
}
